body{
    background-color: #152032 !important;
    color: white !important;
    overflow-x: hidden !important;
}

nav{
    padding-left: 1rem;
    overflow-x: hidden !important;
}

.hidden {
    display: none;
}

.nav-tabs{
    flex-wrap: nowrap !important;
    overflow-x: scroll;
}

.nav-link {
    white-space: nowrap;
    color: white !important;
}

.nav-link.active {
    color: black !important;
}

.nav-link.disabled {
    color: gray !important;
}

.container{
    padding: 0 !important;
    margin:  0 !important;
    padding-top: 1rem;
    margin-top: -1rem;
}

.victory-text{
    font-size: 2rem;
    text-align: center;
}
.victory-text-radiant{
    color: #67E667;
}
.victory-text-dire{
    color: #FD3F49;
}
.score-text{
    font-size: 2rem;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}
.center-text{
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.table-responsive{
    margin: 0 !important;
    padding: 0 !important;
}

tr{
    background: linear-gradient(#29576f, #14273b) !important;
    color: white !important;
    text-align: center;
}
th{
    background: linear-gradient(#29576f, #14273b) !important;
    color: white !important;
}
td:first-child{
    background-color: #152032 !important;
    color: white !important;
    text-align: left !important;
}
td{
    background-color: #152032 !important;
    color: white !important;
    text-align: center;
}

.table{ 
    background-color: #152032 !important;
    color: white !important;
    font-size: 14px;
}

.ability_icon{
    width: 24px;
    height: 24px;
}
.hero_icon{
    width: 50px;
    height: 30px;
}
.item_icon{
    width: 33px;
    height: 24px;
}

.kills-td{
    color:#67E667 !important;
}
.kills-th{
    color:#67E667 !important;
}

.deaths-td{
    color:#FD3F49 !important;
}
.deaths-th{
    color:#FD3F49 !important;
}

.networth-td{
    color:#FFAD40 !important;
}
.networth-th{
    color:#FFAD40 !important;
}

.table-title{
    font-size: 1rem;
    font-weight: bold;
}

.notfound{
    margin-top: 30vh;
    text-align: center;
}

.nodata{
    color: gray !important;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.player-div{
    display: flex;
    align-items: center;
}

.playername{
    margin-left: 0.5rem;
}

.player-td{
    position: sticky !important;
    left: 0;
    z-index: 1;
}

.hero-div {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 30px;
}

.hero-div  img {
    display: block;
    width: 100%; 
}

.hero-div span {
    width: 100%;
    font-size: small;
    position: absolute;
    bottom: 0;
    justify-content: right;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.item-by-time {
    position: relative;
    margin: 0.25rem;
    width: 50px;
    height: 30px;
}

.item-by-time img {
    display: block;
    width: 100%; 
}

.item-by-time span {
    width: 100%;
    font-size: x-small;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.75);
}

.tab-pane{
    position: relative;
}

.overlay {
    position: absolute;
    width: 160px;
    top: 8px;
    left: 60%;
    transform: translateX(-60%);
    background-color: rgba(0, 0, 0, 0.45); 
    padding: 10px; 
    border-radius: 8px; 
    z-index: 1;
}
  
.overlay input[type="checkbox"] {
    display: none;
}
  
.overlay label {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px; 
    background-color: #ccc;
    position: relative;
    border-radius: 20px;
}
  
.overlay label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px; /* Ширина самого переключателя */
    height: 16px; /* Высота самого переключателя */
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}
  
.overlay input:checked + label {
    background-color: #2196F3;
}
  
.overlay input:checked + label:after {
    transform: translateX(20px); /* Сдвигаем переключатель вправо */
}

.content{
    font-size: 13px;
    width: 80px;
    margin: 0 !important;
    padding: 0 !important;
}

.checkbox{
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 14px !important;
}