nav{
    margin-right: -1rem;
}

body{
    background-color: #152032 !important;
    color: white !important;
    overflow-x: hidden !important;
}

.nav-tabs{
    margin-bottom: 1rem !important;
}

.nav-link {
    color: white !important; 
}

.nav-link.active {
    color: black !important;
}

.nav-link.disabled {
    color: gray !important;
}


.container{
    padding-top: 1rem;
    margin-top: -1rem;
}

.victory-text{
    font-size: 2rem;
    text-align: center;
}
.victory-text-radiant{
    color: #67E667;
}
.victory-text-dire{
    color: #FD3F49;
}
.score-text{
    font-size: 2rem;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}
.center-text{
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.table-responsive{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1rem !important;
}

tr{
    background: linear-gradient(#29576f, #14273b) !important;
    color: white !important;
}
th{
    background: linear-gradient(#29576f, #14273b) !important;
    color: white !important;
}
td{
    background-color: #152032 !important;
    color: white !important;
    white-space: nowrap;
}

.table{
    background-color: #152032 !important;
    color: white !important;
}

.ability_icon{
    width: 2rem;
    height: 2rem;
}
.hero_icon{
    width: 4rem;
    height: 2rem;
}
.item_icon{
    width: 3.25rem;
    height: 1.75rem;
}

.kills-td{
    color:#67E667 !important;
}
.kills-th{
    color:#67E667 !important;
}

.deaths-td{
    color:#FD3F49 !important;
}
.deaths-th{
    color:#FD3F49 !important;
}

.networth-td{
    color:#FFAD40 !important;
}
.networth-th{
    color:#FFAD40 !important;
}

.table-title{
    font-size: 1rem;
    font-weight: bold;
}

.notfound{
    margin-top: 30vh;
    text-align: center;
}

.nodata{
    color: gray !important;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.item-by-time {
    position: relative;
    margin: 0.25rem;
    width: 3.75rem;
    height: 2.25rem;
}

.item-by-time img {
    display: block;
    width: 100%; 
}

.item-by-time span {
    width: 100%;
    font-size: x-small;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    background-color: rgba(0, 0, 0, 0.75);
}